body{
  font-family: "Roboto", Tahoma;
  padding-top: 1em;
  background: rgba(235,233,249,1);
  background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
  background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
  background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
  background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
}

.atm{
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  background:#fafafa;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 0.5em;
  background: rgb(247,247,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgba(224,224,224,1) 63%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(247,247,247,1) 0%,rgba(224,224,224,1) 63%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(247,247,247,1) 0%,rgba(224,224,224,1) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .logo{
    font-weight:bold;
    margin-bottom:1em;
  }

  &-screen{
    background: #31286e;
    color: #fff;
    width: 100%;
    margin-bottom: 1em;
    padding: 2em;
    box-sizing: border-box;
    cursor: default;
  }

  .cash-container{
    position: relative;
    width: 100%;
    height: 30em;
    margin: 1em 0;
    overflow: hidden;
  }

  .cash-slot{
    width: 100%;
    height: 4em;
    margin: 0;
    background: rgb(19,19,19); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 38%, rgba(43,43,43,1) 39%, rgba(7,7,7,1) 41%, rgba(7,7,7,1) 41%, rgba(43,43,43,1) 58%, rgba(71,71,71,1) 61%, rgba(76,76,76,1) 66%, rgba(76,76,76,1) 66%, rgba(102,102,102,1) 84%, rgba(89,89,89,1) 99%, rgba(89,89,89,1) 99%, rgba(76,76,76,1) 99%, rgba(76,76,76,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(17,17,17,1) 38%,rgba(43,43,43,1) 39%,rgba(7,7,7,1) 41%,rgba(7,7,7,1) 41%,rgba(43,43,43,1) 58%,rgba(71,71,71,1) 61%,rgba(76,76,76,1) 66%,rgba(76,76,76,1) 66%,rgba(102,102,102,1) 84%,rgba(89,89,89,1) 99%,rgba(89,89,89,1) 99%,rgba(76,76,76,1) 99%,rgba(76,76,76,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(17,17,17,1) 38%,rgba(43,43,43,1) 39%,rgba(7,7,7,1) 41%,rgba(7,7,7,1) 41%,rgba(43,43,43,1) 58%,rgba(71,71,71,1) 61%,rgba(76,76,76,1) 66%,rgba(76,76,76,1) 66%,rgba(102,102,102,1) 84%,rgba(89,89,89,1) 99%,rgba(89,89,89,1) 99%,rgba(76,76,76,1) 99%,rgba(76,76,76,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .note{
    position: absolute;
    top: -9000px;
    left: 10%;
    width: 80%;
    padding: 1em;
    box-sizing: border-box;
    color: #333;
    font-size: 2em;
    font-weight:bold;
    text-align: center;
    background: rgb(201,222,150); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(201,222,150,1) 54%, rgba(174,198,117,1) 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201,222,150,1) 54%,rgba(174,198,117,1) 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201,222,150,1) 54%,rgba(174,198,117,1) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid rgb(201,222,150);
    animation-name: animation-cash-flying;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .pad .button{
    padding: 0.8em;
    text-decoration: none;
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    text-align: center;

    &:last-child{
      margin: 0 33.3%;
    }
  }

  .button-withdraw-cash{
    clear: both;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
  }

}

/* ANIMATIONS */

@keyframes animation-cash-flying {
  0% {
    top: -100px;
    transform: scale(0.7);
  }
  30% {
    top: 100px;
    transform: scale(1);
  }
  100% {
    top: 100px;
  }
}
